
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid{
    display: grid; 
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    background-color: aqua;
    

    
}

.cells{
   border: 1px solid black;
   
    



}