
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid{
    display: grid; 
   
    background-color: aqua;
    

    
}

.cells{
   border: 1px solid black;
   
    



}