
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid{
    display: grid;  
}

#grid > div{
   border: 1px solid black;

}

.cells:mousedown{
    background-color: blueviolet;
}